# Node Modules
backend/node_modules/
frontend/node_modules/

# Environment Files
backend/.env
frontend/.env

# Logs
*.log

# Build
dist
build

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/
.env
.env.*
backend/uploads/
